.content:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-image: url('../images/home-bg.jpg');
    width: 100%;
    height: 100%;

    filter: blur(5px);
}

.mast-height {
    width: calc(100% + 30px);
    position: relative;
    left: -15px;
    top: -20px;
}

[ui-view].container {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    min-height: calc(100vh - 50px);
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.jumbotron .img-responsive {
    margin: 0 auto;
}

.pad-top {
    padding-top: 60px;
}

.shipwrecktable tr td:nth-child(2) {
    width: 150px;
}

.shipwrecktable tr:nth-child(1) td {
    border-top: none;
}

.charts {
    margin-top: 1300px;
    padding-top: 1300px;
    position: relative;
    align-content: left;
    visibility: visible;

}

.chart {
}

[ui-view] {
    transition: opacity 0.5s ease-in-out;
}

[ui-view].ng-enter {
    opacity: 0;
}

[ui-view].ng-enter-active {
    opacity: 1;
}

[ui-view].ng-leave {
    opacity: 1;
}

[ui-view].ng-leave-active {
    opacity: 0;
    transition: opacity 0s ease-out;
}
