<!--About us page from the navigation bar-->
<h2 class="text-center font-weight-light">Meet the Bike-Shedding Yak Shavers!</h2>
<table class="table faqtable">
    <tr>
        <td style="color:cadetblue">Kelsey</td>
        <td style="color: dodgerblue"><p>Requirements Engineer</p></td>
        <td>
            <p class="w3-text-grey">
                Led the implementation and design of HashCash Stash. Kelsey worked alongside Sam and Michael to ensure
                an easy, user friendly, but also attractive site was created. Her tools of the trade were Java, Spring,
                HTML5, AngularJS, and CSS3.
            </p>
        </td>
    </tr>
    <tr>
        <td style="color:deepskyblue">Sam</td>
        <td style="color: dodgerblue"><p>Database Engineer</p></td>
        <td>
            <p class="w3-text-grey">
                Designed the schemas for HashCash Stash's user database and the default database schema for the Latesco
                library. In addition, Sam implemented HashCash Stash's user authentication mechanism. His tools of the
                trade were SQLite, PostgreSQL, Java, Spring, and AngularJS.
            </p>
        </td>
    </tr>
    <tr></tr>

    <tr>
        <td style="color:darkslateblue">Austin</td>
        <td style="color: dodgerblue"><p>Project Manager</p></td>
        <td>
            <p class="w3-text-grey">
                Coordinated the creation of HashCash Stash and the Latesco library. In addition, Austin
                maintained the required infrastructure to support HashCash Stash including server, website, and database
                management. His tools of the trade were Kotlin, Java, Spring, AngularJS, Unix, and PostgreSQL.
            </p>
        </td>
    </tr>
    <tr></tr>

    <tr>
        <td style="color:steelblue">Michael</td>
        <td style="color: dodgerblue"><p>Design Engineer</p></td>
        <td>
            <p class="w3-text-grey">
                Assisted with the creation of the Latesco library and design of HashCash Stash. Michael worked diligently
                to implement several performance enhancing features in Latesco and to create an attractive UI for our
                customers. His tools of trade were Kotlin, Java, Spring, AngularJS, HTML5, and CSS3.
            </p>
        </td>
    </tr>
</table>
