<h3 style="text-align:center">Cryptocurrencies Supported</h3>
<div class="card box-shadow">
    <div class="card-header">
        Price and Last Update
    </div>
    <div class="card-body">
        <div data-ng-show="graph_loading"><h3>Loading...</h3></div>
        <div style="position: relative; height: 40vh;">
            <canvas id="linechart" data-ng-show="!graph_loading"></canvas>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 1em;">
            <button style="margin-left:1em;" ng-repeat="asset in assetList" ng-click="doAlert(asset.assetUid)"
                    class="btn" ng-value="asset.assetUid" ng-model="selectedButton"
                    ng-class="{'btn-primary':selectedButton==asset.assetUid}">{{asset.name}}</button>
        </div>
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Price (USD)</th>
                <th>Last Updated</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-show="list_loading">
                <td colspan="4"><h3>Loading...</h3></td>
            </tr>
            <tr data-ng-show="!list_loading" ng-repeat="asset in assetList">
                <td>{{ asset.name }}</td>
                <td>{{ asset.symbol }}</td>
                <td>{{ asset.price | currency}}</td>
                <td>{{ asset.date }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

